name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v4

      - run: uv build

      - uses: astral-sh/setup-uv@v4
        with:
          enable-cache: false

      - run: uv publish --trusted-publishing always
